.modalHeader{
  border-bottom: 1px solid rgb(10, 183, 183);
  padding-bottom: 10px;
}

.cancelbuttonModal {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    border: 1px solid rgb(10, 183, 183);
    background-color: white;
    font-size: 10px;
    color: rgb(10, 183, 183);
}

.savebuttonModal {
    padding-bottom: 5px;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(10, 183, 183);
    border: 1px solid rgb(10, 183, 183);
    font-size: 10px;
    color: white;
}
